/Site/config/database.php

/Site/config/install.php
/admin-install-key.txt
/.work/
/Aplicativo/.dart_tool/
/Aplicativo/build/
/Aplicativo/android/local.properties
/Aplicativo/.flutter-plugins-dependencies

/Aplicativo/ios/Flutter/Generated.xcconfig
/Aplicativo/ios/Flutter/flutter_export_environment.sh
/Aplicativo/ios/Flutter/ephemeral/

/Aplicativo/android/.gradle/
/Aplicativo/android/.kotlin/
/Aplicativo/android/captures/
/dist/
/Site/config/import-providers.php
